/* Ajuste del título */
.titulo-dialog {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: #1d3557;
  }
  
  /* Contenedor del formulario */
  .contenido-dialog {
    padding: 20px 10px;
  }
  
  /* Campos con espacio entre ellos */
  .campo {
    width: 100%;
    margin-bottom: 16px;
  }
  
  /* Contenedor de los botones */
.botones-dialog {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    border-top: 1px solid #ddd;
    gap: 10px; /* Espacio entre botones */
  }
  
  /* Botón cancelar */
  .boton-cancelar {
    color: #757575;
    background: transparent;
    border: 2px solid #757575;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .boton-cancelar:hover {
    background: #f1f1f1;
    border-color: #333;
    color: #333;
  }
  
  /* Botón guardar/actualizar */
  .boton-guardar {
    background-color: #1d3557;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  }
  
  .boton-guardar:hover {
    background-color: #0f2341;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Deshabilitar botón guardar */
  .boton-guardar:disabled {
    background-color: #b0bec5;
    color: #e0e0e0;
    box-shadow: none;
    cursor: not-allowed;
  }
  