<header class="header">
  <img src="assets/img/logo.png" alt="Logo" class="logo" style="cursor:pointer"
       (click)="goToHome()" />
  <div class="header-buttons">
    <button mat-stroked-button (click)="goToLogin()">Iniciar sesión</button>
    <button mat-flat-button color="primary" (click)="goToRegister()">Registrarse</button>
  </div>
</header>

<div class="producto-detalle-centrado">
  <mat-card *ngIf="producto" class="producto-detalle-card">
    <div class="detalle-flex">
      <div class="detalle-img">
        <img mat-card-image *ngIf="producto.imagenes?.length" [src]="producto.imagenes[0].urlImagen" alt="Imagen del producto" />
      </div>
      <div class="detalle-info">
        <mat-card-title>{{ producto.nombre }}</mat-card-title>
        <mat-card-content>
          <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
          <p><strong>Dimensiones:</strong> {{ producto.dimensiones }}</p>
          <p><strong>Precio:</strong> {{ producto.precio | currency }}</p>
          <div class="color-container" *ngIf="producto.colores?.length">
            <span *ngFor="let color of producto.colores" class="color-box" [style.backgroundColor]="color.codigoColor" [title]="color.nombreColor"></span>
          </div>
        </mat-card-content>
      </div>
    </div>
    <div class="boton-cotizar-container">
      <button mat-raised-button color="primary">
        Cotizar
      </button>
    </div>
  </mat-card>
</div>